<p>
  <mat-form-field class="wide-input" appearance="outline">
    <mat-label>Search for your card here</mat-label>
    <input matInput placeholder="Card name" [formControl]="searchFormControl">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</p>

<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<mat-list>
  <mat-list-item *ngFor="let result of searchResults">
    <a [routerLink]="['/card', result.multiverseid]" (click)="stateService.setCard(result)">{{ result.name }}</a>
  </mat-list-item>
</mat-list>
