@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$accent-color: #424242;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 15px;
}

.wide-input {
  width: 100%;
  max-width: 400px;
}

a {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: $accent-color;
}

a:visited {
  color: $accent-color;
}
